:root{
  --white: #fff;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=PT+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 20px auto;
}

.logo {
  font-family: 'Dancing Script', cursive;
  color:var(--white);
  font-size:3rem;
}

.submit {
  background: #ffb400 !important;
  color: #fff !important;
  outline: none;
}

.small{
  font-size:1.1rem;
}

.d-flex {
  display: flex;
}

.flex-cl {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
