$white: #fff;
$black: #000;
$green: #97bf10;

body {
  background: $white;
  height: 100%;
}

li {
  a {
    color: #000;
  }
}

nav {
  height: 100vh;
}

.menubar {
  width: 2.5rem;
  height: 100%;
}

.logo-menu {
  background: #8bddd9;
  padding: 0.5rem 1.5rem;

  @media (min-width: 768px) {
    background: $white;
  }
}

.logo {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}

.logo-pr {
  color: $white;
  @media (min-width: 992px) {
    color: #000;
    margin-top: 5rem;
  }
}

.navbar__menu {
  display: none;
  @media (min-width: 992px) {
    display: block;
    margin-top: 2rem;
  }
}

.navbar__menu-mobile {
  li {
    padding: 1rem 1.5rem;
    a {
      color: green;
      font-weight: 700;
    }
  }
}
.menubar,
.navbar__menu-mobile {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav {
  @media (min-width: 768px) {
    padding: 0.8rem;
    height: 100%;
    li {
      a {
        display: block;
        padding: 1rem 1.5rem;
      }
      .active {
        background: $green;
      }
    }
  }
}

.main-content {
  @media (min-width: 768px) {
    display: flex;
    .main-nav {
      height: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      width: 17vw;
    }
  }
}
